SECRET_KEY=quietspace-tashkent-super-secret-key-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database: PostgreSQL
DB_NAME=quietspace_db
DB_USER=xyz_user
DB_PASSWORD=1212
DB_HOST=localhost
DB_PORT=5432
USE_SQLITE=False

# Timezone
TIME_ZONE=Asia/Tashkent

# Telegram Bot
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
